* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --heading-font: "Georgia", serif;
    --body-font: Arial, sans-serif;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
}

/* Restructures the layout width and centers the content layout */
header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header img {
    width: 150px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Places the 5 pictures side-by-side in a horizontal row */
.adventure .gallery {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Makes all 5 pictures equal size and fills their flex space */
.adventure .gallery img {
    width: 18%;
    height: auto;
    object-fit: cover;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin-left: 15px;
}

.socialmedia a {
    text-decoration: none;

}

.socialmedia img {
    width: 30px;
    height: auto;
}