* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    margin: 1rem;
}

p,
div {
    background-color: rgb(155, 155, 9);
    margin: 1rem;
    padding: 1rem;
}

span {
    color: rgb(223, 93, 132);
    background-color: rgb(163, 50, 158);
}

code {
    margin: 0;
    padding: 0;
    color: green;
    font-size: 1.2rem;
}

.note {
    font-style: italic;
    background-color: rgb(216, 49, 20);
    border-radius: 1rem;
    border: 1px solid rgba(178, 41, 206, 0.1);
    margin: 1rem;
    padding: .5rem;
}

.question {
    background-color: #c42461;
    color: #9c1669;
}